@{
    ViewBag.Title = "Home Page";
}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<br>
<br>
<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="span2">
            <img src="https://scontent.fcen1-1.fna.fbcdn.net/v/t1.0-9/61763841_1701939573285217_3737773595187740672_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=9dAiRoQmpkYAX9npD3D&_nc_ht=scontent.fcen1-1.fna&oh=3a56f7d5846b6fe446a10ce389d52247&oe=5EBBF7D2" class="img-circle">
        </div>

        <div class="span8">
            <h3>@ViewBag.NombreUsuario</h3>
            <h6>Tipo de usuario: </h6>@ViewBag.TipoUsuario
        </div>
        <li><a href="@Url.Action("Contact", "Home")">Editar perfil</a></li>
        <li><a href="@Url.Action("Index", "Usuario")">Lista clientes</a></li>
    </div>
</div>